#ladowanie {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/loading.gif') no-repeat center center;
}
#zdjecie, #miniaturki, #komentarze {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
}
#miniaturki img {
    margin: 5px;
    cursor: pointer;
}